$bgColor: #fffefd;
$textMainColor: #1a212f;
$titleColor: #151b28;
$borderColor: #e1e1e1;
$yellowColor: #fac663;
$orangeColor: #ff7236;
$redColor: #f05b1b;
$whiteColor: #ffffff;

$xl: 1368px;
$lg: 1288px;
$md: 1024px;
$tb: 768px;
$mb: 600px;
